.sec-02 {
  padding-top: 1.7rem;
  padding-bottom: 2rem;
}

// SECTION 02 HEADER
.sec-02__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #949494;
  margin-bottom: 2rem;
}

.sec-02__header-content {
  font-family: GothaR;
  font-size: pxToRem(9px);
}

// END SECTION 02 HEADER

// SECTION 02 ARTICLE
.sec-02__article-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1rem .7rem;
  margin-bottom: 4rem;
}

.sec-02__article-title {
  font-family: GothaM;
  font-size: pxToRem(15px);
  line-height: 1.4;
  margin-bottom: 1.6rem;
  text-align: center;
}

.sec-02__article-img {
  display: block;
  width: auto;
  margin: auto;
  margin-bottom: 1rem;
}

.sec-02__article-paragraph {
  font-family: GothaR;
  font-size: pxToRem(11px);
  line-height: 1.5;
}

.sec-02__article-block {
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
// END SECTION 02 ARTICLE

.sec-02__article {
  background-color: rgba(151, 151, 151, .1);
  padding: .5rem;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  margin-bottom: 1.2rem;
  position: relative;
  cursor: pointer;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-02__article-tag-container {
  margin-bottom: .8rem;
}

.sec-02__article-tag {
  font-family: GothaR;
  font-size: pxToRem(10px);
  color: #979797;
}

.sec-02__article-content {
  font-family: GothaR;
  font-size: pxToRem(13px);
  line-height: 1.2;
  letter-spacing: -.1px;
  color: #363636;
  margin-bottom: 1.5rem;
}

.sec-02__article-btn {
  display: block;
  font-family: GothaB;
  font-size: pxToRem(12px);
  color: #fff;
  text-transform: uppercase;
  width: pxToRem(273px);
  margin: auto;
  padding: .9rem 0;
  background-color: #c23002;
  text-align: center;
  &:hover {
    transition: all .5s linear;
    background-color: #3f342e;
  }
}

.sec-02__slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: pxToRem(254px);
  margin: auto;
  margin-top: 2.4rem;
  position: relative;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);
    height: 1px;
    width: 12.3rem;
    background-color: #000;
  }
}

.sec-02__count {
  font-family: GothaB;
  &:first-of-type {
    font-size: pxToRem(22px);
    color: #c23002;
  }
  &:last-of-type {
    font-size: pxToRem(10px);
    color: #000;
  }
}

.sec-02 .owl-nav img {
  width: pxToRem(25px);
}

.sec-02 .owl-nav {
  display: flex;
  justify-content: center;
  position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: #000;
    top: 44%;
    transform: translateY(-50%);
  }
  .owl-prev {
    margin-right: 1rem;
  }
  .owl-next {
    margin-top: 1px;
  }
}

.sec-02 {
  .desc-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .sec-02__article:nth-of-type(n+7) {
    display: none;
  }
}

@media (max-width: 1199px) {
  .sec-02__img-aside-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .sec-02__article {
    width: 100%;
    &:last-of-type {
      margin-bottom: 1.2rem;
    }
  }

  .sec-02__article-title {
    font-size: 1.2rem;
  }

  .sec-02__article-paragraph {
    font-size: .8rem;
    padding: 0 2rem;
    text-align: center;
  }

  .sec-02__article-img {
    width: 70%;
  }

  .sec-02 .sec-02__article-img {
    width: 50%;
  }

  .sec-02__slider-nav {
    margin: 0;
  }

  .sec-02 .owl-nav {
    bottom: -1.4rem;
    right: 0 !important;
    left: auto;
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .sec-02 {
    .container--width {
      max-width: 1540px;
    }
    padding-top: 2.9rem;
    .mob-btn {
      display: none;
    }

    .desc-btn {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1rem;
      width: 7.2rem;
      padding: .7rem 0;
    }
  }

  .sec-02__header-content {
    font-size: 12px;
  }

  .sec-02__content-container {
    display: flex;
    justify-content: space-between;
  }

  .sec-02__article-container {
    width: pxToRem(1021px);
  }

  .sec-02 .container--width {
    max-width: 87.75rem;
  }

  .sec-02 .slide {
    padding: .5rem;
  }

  .sec-02__article {
    width: 30%;
    box-shadow: 0 0 11px 1px rgba(151, 151, 151, .5);
    padding-top: 1.6rem;
    padding-left: .9rem;
    padding-bottom: .4rem;
    margin-bottom: 3.2rem;
    &:hover {
      transition: all .5s linear;
      transform: scale(.95);
    }
    &:last-of-type {
      margin-bottom: 3.2rem;
    }
    .sec-02__article-title {
      margin-bottom: 2rem;
    }
    &:first-of-type {
      width: 65%;
      .sec-02__article-title {
        padding-right: 2rem;
      }
    }
  }

  .sec-02__img-container {
    position: relative;
  }

  .sec-02__article-tag {
    font-size: pxToRem(12px);
  }

  .sec-02__article-img {
    margin-bottom: 1rem;
  }

  .sec-02__article-tag-container {
    margin-bottom: 1.3rem;
  }

  .sec-02__article-content {
    margin-bottom: 0;
  }

  .sec-02__count {
    &:first-of-type {
      font-size: pxToRem(36px);
    }
    &:last-of-type {
      font-size: pxToRem(14px);
    }
  }

  .sec-02__slider-nav {
    margin-top: 4.9rem;
  }

  .sec-02__slider-nav {
    width: 25.875rem;
    &::before {
      left: 4rem;
      height: 2px;
      background-color: #757575;
      width: 20rem;
    }
  }

  .sec-02 .owl-nav {
    bottom: -6.6rem;
  }

  .sec-02 .owl-nav img {
    width: 1.6625rem;
  }

  .sec-02 .owl-nav .owl-prev {
    margin-right: 2.9rem;
  }

  .sec-02__article-block {
    position: relative;
    margin-bottom: 5rem;
    &:first-of-type {
      padding-right: 29rem;
      .sec-02__picture {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        img {
          width: auto;
        }
      }
    }
    &:nth-of-type(3) {
      padding-left: 29rem;
      .sec-02__picture {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        img {
          width: auto;
        }
      }
    }
    &:nth-of-type(4) {
      padding-left: 29rem;
    }
    &:nth-of-type(6) {

      padding-right: 29rem;
    }
    &:nth-of-type(7) {
      padding-right: 29rem;
      .sec-02__picture {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        img {
          width: auto;
        }
      }
    }
    &:last-of-type {
      .sec-02__picture {
        img {
          width: auto;
        }
      }
    }
  }

  .sec-02__article-paragraph {
    text-align: left;
  }

  .sec-02__article-paragraph {
    font-size: pxToRem(16px);
  }

  .sec-02__img-aside-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
