.sec-03 {
  padding-top: 1.2rem;
  padding-bottom: 2.9rem;
}

.sec-03__title {
  font-family: GothaB;
  font-size: pxToRem(19px);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.sec-03__theme-block {
  font-family: GothaB;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 270px;
  margin: auto;
  background-color: #f4f4f4;
  padding: .7rem 0;
  margin-bottom: .9rem;
}

@media (max-width: 767px) {
  .sec-03__theme-block {
    &:nth-of-type(n+5) {
      display: none;
    }
  }

  .desc-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .sec-03__title {
    font-size: pxToRem(24px);
    margin-bottom: 1.4rem;
  }

  .mob-btn {
    display: none;
  }

  .sec-03__theme-block {
    width: 85%;
    margin-bottom: 1rem;
    &:nth-of-type(n+9) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .sec-03 {
    padding-top: 10.3rem;
  }

  .sec-03__title {
    font-size: pxToRem(41px);
    margin-bottom: 3.4rem;
  }

  .sec-03__theme-block {
    padding: 1rem 0;
    margin-bottom: 2.8rem;
  }

  .sec-03__article-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sec-03 .sec-02__article-title {
    padding: 0 2rem;
  }

  .sec-03 .sec-02__article {
    width: 32%;
    margin-bottom: 0;
    &:first-of-type {
      width: 32%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .sec-03 .sec-02__article-content {
    display: none;
  }

  .sec-02__article-img {
    width: 100%;
  }

  .sec-02__article-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6rem;
  }
}
